<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<table>
	<tr>
		<td>
			<div class="box" id="one"></div>
		</td>	
		<td>
			<div class="box" id="two"></div>
		</td>
		<td>
			<div class="box" id="three"></div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="box" id="four"></div>
		</td>
		<td>
			<div class="box" id="five"></div>
		</td>
		<td>
			<div class="box" id="six"></div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="box" id="seven"></div>
		</td>
		<td>
			<div class="box" id="eight"></div>
		</td>
		<td>
			<div class="box" id="nine"></div>
		</td>
	</tr>
</table>

<input type="button" onClick="history.go(0)" value ="Clear Board">
